*{
box-sizing: border-box;
}
.gato{
    width: 80%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
.gato img{
    height: 400px;
    width: 400px;
    border-radius: 10%;
}